<div class="modal-content">
  <div class="modal-header bg-info">
    <i class="ion-information-circled modal-icon"></i><span> Information</span>
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty newr sn-link-close"></em>
    </button>
  </div>
  <div class="modal-body text-center">You've got a new email!</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="$dismiss()">OK</button>
  </div>
</div>
