
<div class="col-md-4 col-sm-12 col-xs-12 form-group" style="float: right;">
		<button type="button" ng-click="addUser()" class="btn btn-primary btn-icon"><i class="ion-plus-round"></i></button>
    <input ng-model="searchGroup" placeholder="חיפוש קבוצה" class="input-sm form-control search-input" type="search"/>
</div>

<div class="col-md-12 col-sm-12 col-xs-12 form-group vertical-scroll" style="float: right;">
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <td>שם קבוצה</td>
    <td>תיאור קבוצה</td>
    <td>אפשרויות</td>
  </tr>
  <tr ng-repeat="usuario in usuarios | filter:searchGroup" class="editable-row">
    <td>
      <span editable-text="usuario.role_desc" e-name="role_desc" e-form="rowform" e-required>
        {{ usuario.role_desc || 'empty' }}
      </span>
    </td>
    <td>
      <span editable-text="usuario.role_name" e-name="role_name" e-form="rowform" e-required>
        {{ usuario.role_name || 'empty' }}
      </span>
    </td>

    <td>
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted == usuario">

        <button type="submit" ng-disabled="rowform.$waiting" ng-click="SaveRole(rowform,usuario)" class="btn btn-success btn-icon"><i class="ion-checkmark-round"></i></button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-danger btn-icon"><i class="ion-close-round"></i></button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button type="button" ng-click="rowform.$show()" class="btn btn-primary btn-icon"><i class="glyphicon glyphicon-pencil"></i></button>
        <button type="button" ng-click="open('app/pages/setting/roles/viewRole/viewrole.html','lg',usuario)" class="btn btn-info btn-icon"><i class="glyphicon glyphicon-cog"></i></button>
        <button type="button" ng-click="CancelNewGroup($index)" class="btn btn-danger btn-icon"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
    </td>
  </tr>
</table>
</div>



