
<div class="col-md-12 col-sm-12 col-xs-12 form-group vertical-scroll" style="float: right;">
	<table class="table table-bordered table-hover table-condensed">
	  <tr>
	    <th>#</th>
	    <th>שם הרשאה</th>
	    <th>קטגוריה</th>
	    <th>תת קטגוריה</th>
	    <th>מפתח</th>
	    <th>אפשרויות</th>
	  </tr>
	  <tr ng-repeat="prem in AllPremissions | filter:searchPrem" class="editable-row">
	    <td>{{ $index+1 }}</td>
	    <td>
	      <span editable-text="prem.perm_desc" e-name="perm_desc" e-form="rowform" e-required>
	        {{ prem.perm_desc || 'empty' }}
	      </span>
	    </td>

	    <td class="select-td">
	        <span editable-select="prem.group_id" e-placeholder="בחר קטגוריה" e-name="group_id" onshow="loadGroups()" e-form="rowform" e-selectpicker
	              e-ng-options="g.group_id as g.group_desc for g in AllGroups">
	          {{ showGroup(prem) }}
	        </span>
	    </td>

	    <td class="select-td">
	        <span editable-select="prem.sub_group_id" e-placeholder="בחר קטגוריה" e-name="sub_group_id" onshow="loadGroups()" e-form="rowform" e-selectpicker
	              e-ng-options="g.sub_group_id as g.sub_group_desc for g in AllSubGroups | filter:prem.group_id">
	          {{ showSubGroup(prem) }}
	        </span>
	    </td>
	    <td>
	        {{ prem.perm_key || 'empty' }}
	    </td>

	    <td>
	      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
	            shown="inserted == prem">

	        <button type="submit" ng-disabled="rowform.$waiting" ng-click="SavePerm(rowform,prem)" class="btn btn-success btn-icon"><i class="glyphicon glyphicon-ok"></i></button>
	        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-danger btn-icon"><i class="glyphicon glyphicon-remove"></i></button>
	      </form>
	      <div class="buttons" ng-show="!rowform.$visible">
	        <button has-permission='577417' type="button" ng-click="rowform.$show()" class="btn btn-primary btn-icon"><i class="glyphicon glyphicon-pencil"></i></button>
<!-- 	        <button type="button" ng-click="open('app/pages/setting/roles/viewRole/viewrole.html','',prem)" class="btn btn-info btn-icon"><i class="glyphicon glyphicon-cog"></i></button> -->
	        <button has-permission='606830' type="button" ng-click="AreYouSureBroToDeletePrem(prem,$index)" class="btn btn-danger btn-icon"><i class="glyphicon glyphicon-trash"></i></button>
	      </div>
	    </td>
	  </tr>
	</table>

</div>