

<div class="col-md-12 col-sm-12 col-xs-12 form-group vertical-scroll" style="float: right;">
  <div class="input-group">
    <input type="text" class="form-control with-warning-addon" ng-model="searchGroup" placeholder="חיפוש קבוצה">
    <span class="input-group-btn">
        <button type="button" ng-click="addUser()" class="btn btn-warning btn-icon"><i class="ion-plus-round"></i></button>
    </span>
  </div>
</div>
<!-- 
  <div class="col-md-4 col-sm-6 col-xs-6 form-group" style="float: right;">
      <button type="button" ng-click="addUser()" class="btn btn-warning btn-icon"><i class="ion-plus-round"></i></button>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6 form-group" style="float: left;">
      <input ng-model="searchGroup" placeholder="חיפוש קבוצה" class="input-sm form-control search-input" type="search"/>
  </div>
 -->


<div class="col-md-12 col-sm-12 col-xs-12 form-group vertical-scroll" style="float: right;">
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <th>#</th>
    <th>שם קבוצה</th>
    <th>תיאור קבוצה</th>
    <th>אפשרויות</th>
  </tr>
  <tr ng-repeat="groupData in AllGroupRoles | filter:searchGroup" class="editable-row">
    <td>{{ $index+1 }}</td>
    <td>
      <span editable-text="groupData.role_desc" e-name="role_desc" e-form="rowform" e-required>
        {{ groupData.role_desc || 'empty' }}
      </span>
    </td>
    <td>
      <span editable-text="groupData.role_name" e-name="role_name" e-form="rowform" e-required>
        {{ groupData.role_name || 'empty' }}
      </span>
    </td>

    <td>
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted == groupData">

        <button type="submit" ng-disabled="rowform.$waiting" ng-click="SaveRole(rowform,groupData)" class="btn btn-success btn-icon"><i class="ion-checkmark-round"></i></button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-danger btn-icon"><i class="ion-close-round"></i></button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button has-permission='884324' type="button" ng-click="rowform.$show()" class="btn btn-primary btn-icon"><i class="glyphicon glyphicon-pencil"></i></button>
        <button has-permission='518829'  type="button" ng-click="open('app/pages/setting/roles/viewRole/viewrole.html','',groupData)" class="btn btn-info btn-icon"><i class="glyphicon glyphicon-cog"></i></button>
        <button has-permission='637955' type="button" ng-click="AreYouSureBroToDeleteGroup(groupData,$index)" class="btn btn-danger btn-icon"><i class="glyphicon glyphicon-trash"></i></button>

      </div>
    </td>
  </tr>
</table>
</div>



