<section ng-controller="rolesCtrl" class="roles">
  <div class="widgets">

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="float: right;" has-permission="674509">
      <div ng-model="AllGroupRoles" ba-panel ba-panel-class="with-scroll">

        <div class="panel-heading clearfix">

          <div class="col-md-6 col-sm-6 col-xs-6 form-group vertical-scroll" style="float: right;">
            <h3 class="panel-title ng-binding">{{AllGroupRoles.length}} קבוצות</h3>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6 form-group vertical-scroll" style="float: right;margin-top: -9px;">
            <div class="input-group">
              <input type="text" class="form-control with-warning-addon" ng-model="searchGroup" placeholder="חיפוש קבוצה">
              <span class="input-group-btn">
                  <button type="button" ng-click="addUser()" class="btn btn-warning btn-icon"><i class="ion-plus-round"></i></button>
              </span>
            </div>
          </div>

        </div>

        <div class="panel-body">
            <div ng-include="'app/pages/setting/roles/widgets/groups.html'"></div>
        </div>

      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="float: right;" has-permission="502934">
      <div ng-model="AllPremissions" ba-panel ba-panel-class="with-scroll">
        <div class="panel-heading clearfix">

          <div class="col-md-6 col-sm-6 col-xs-6 form-group vertical-scroll" style="float: right;">
            <h3 class="panel-title ng-binding">{{AllPremissions.length}} הרשאות</h3>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6 form-group vertical-scroll" style="float: right;margin-top: -9px;">
            <div class="input-group">
              <input type="text" class="form-control with-warning-addon" ng-model="searchPrem" placeholder="חיפוש הרשאה">
<!--               <span class="input-group-btn">
                  <button type="button" ng-click="addPrem()" class="btn btn-warning btn-icon"><i class="ion-plus-round"></i></button>
              </span> -->

              <span class="input-group-btn" uib-dropdown dropdown-append-to-body>
                  <button type="button" ng-click="addPrem()" class="btn btn-warning btn-icon"><i class="ion-plus-round"></i></button>
                  <button type="button" ng-click="addPrem()" class="btn btn-info btn-icon"><i class="glyphicon glyphicon-cog"></i></button>
                <button type="button" class="btn btn-primary btn-icon" uib-dropdown-toggle>
          <i class="ion-navicon-round"></i>
                </button>
                <ul uib-dropdown-menu>
                  <li><a href>הרשאה חדשה</a></li>
                  <li><a href>ניהול הרשאות</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href>הגדרות</a></li>
                </ul>
                  
              </span>
              
            </div>
          </div>

        </div>

        <div class="panel-body">
            <div ng-include="'app/pages/setting/roles/widgets/prem.html'"></div>
        </div>
      </div>
    </div>

  </div>
  
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="float: right;">
      <div ng-model="AllGroups" ba-panel ba-panel-class="with-scroll">

        <div class="panel-heading clearfix">

          <div class="col-md-6 col-sm-6 col-xs-6 form-group vertical-scroll" style="float: right;">
            <h3 class="panel-title ng-binding">{{AllGroups.length}} קטגוריות</h3>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6 form-group vertical-scroll" style="float: right;margin-top: -9px;">
            <div class="input-group">
              <input type="text" class="form-control with-warning-addon" ng-model="searchPremCats" placeholder="חיפוש קטגוריה">
              <span class="input-group-btn">
                  <button type="button" ng-click="addCat()" class="btn btn-warning btn-icon"><i class="ion-plus-round"></i></button>
              </span>
            </div>
          </div>

        </div>

        <div class="panel-body">
            <div ng-include="'app/pages/setting/roles/widgets/premCats.html'"></div>
        </div>
        
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="float: right;">
      <div ng-model="AllSubGroups" ba-panel ba-panel-class="with-scroll">


        <div class="panel-heading clearfix">

          <div class="col-md-6 col-sm-6 col-xs-6 form-group vertical-scroll" style="float: right;">
            <h3 class="panel-title ng-binding">{{AllSubGroups.length}} תתי קטגוריות</h3>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6 form-group vertical-scroll" style="float: right;margin-top: -9px;">
            <div class="input-group">
              <input type="text" class="form-control with-warning-addon" ng-model="searchSubCatPrem" placeholder="חיפוש תת קטגוריה">
              <span class="input-group-btn">
                  <button type="button" ng-click="addSubCat()" class="btn btn-warning btn-icon"><i class="ion-plus-round"></i></button>
              </span>
            </div>
          </div>

        </div>

        <div class="panel-body">
            <div ng-include="'app/pages/setting/roles/widgets/premSubCat.html'"></div>
        </div>


        
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="float: right;">
      <div ng-model="AllApps" ba-panel ba-panel-class="with-scroll">

        <div class="panel-heading clearfix">

          <div class="col-md-6 col-sm-6 col-xs-6 form-group vertical-scroll" style="float: right;">
            <h3 class="panel-title ng-binding">{{AllApps.length}} אפליקציות</h3>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6 form-group vertical-scroll" style="float: right;margin-top: -9px;">
            <div class="input-group">
              <input type="text" class="form-control with-warning-addon" ng-model="searchApps" placeholder="חיפוש אפליקציה">
              <span class="input-group-btn">
                  <button type="button" ng-click="addApps()" class="btn btn-warning btn-icon"><i class="ion-plus-round"></i></button>
              </span>
            </div>
          </div>

        </div>

        <div class="panel-body">
            <div ng-include="'app/pages/setting/roles/widgets/apps.html'"></div>
        </div>


        
      </div>
    </div>

  </div>


</div>
</section>